@page "/content/modules"
@inject ApiClient apiClient
@rendermode InteractiveServer
@using BlazorBootstrap;
@using Gatam.Domain
@using Gatam.WebAppBegeleider.Components.Layout
@using Gatam.WebAppBegeleider.Extensions


<CustomCards>
    <h2>Modules</h2>
    <div class="layout-container">
@if (modules != null && modules.Count > 0)
{
    <nav>
        <ul class="module-navbar">
            @foreach (var module in modules.OrderBy(m => m.Title))
            {
                    <li style="list-style-type: none">
                    <a @onclick="() => OpenModuleDetails(module.Id)">@module.Title</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <p>Geen modules gevonden.</p>
}

@if (selectedModule != null)
{
           
    <div class="module-details">
                <h3>@selectedModule.Title</h3>
                <p>Category: @selectedModule.Category</p>
                <p>Created At: @selectedModule.CreatedAt.ToString("g")</p>
            <h5>Vragen</h5>
            <div class="card-container">
                @foreach (var question in selectedModule.Questions)
                {
                    <div class="question-card">
                        <div class="card-content">
                                <p><strong>@question.Text</strong></p>
                            <p><strong>Type:</strong> @question.Type</p>
                            @if (question.Options != null && question.Options.Any())
                            {
                                <p><strong>Opties:</strong></p>
                                <ul>
                                    @foreach (var option in question.Options)
                                    {
                                        <li>@option</li>
                                    }
                                </ul>
                            }
                            @if (question.CorrectAnswers != null && question.CorrectAnswers.Any())
                            {
                                <p><strong>Correct Antwoorden:</strong></p>
                                <ul>
                                    @foreach (var answer in question.CorrectAnswers)
                                    {
                                        <li>@answer</li>
                                    }
                                </ul>
                            }
                            <button class="btn" style="background-color: #4454D2; color:white; font-weight:bold">
                                Bijwerken
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>

                }
            </div>
    </div>
}
    </div>
</CustomCards>


@code {
    
    private List<ApplicationModule> modules = new();
    private ApplicationModule selectedModule;


    protected override async Task OnInitializedAsync()
    {
        var modulesResponse = await apiClient.GetFromJsonAsync<List<ApplicationModule>>("api/module");
        if (modulesResponse != null && modulesResponse.Count > 0)
        {
            modules = modulesResponse;
        }
    }

    private void OpenModuleDetails(string moduleId)
    {
        selectedModule = modules.FirstOrDefault(m => m.Id == moduleId);
    }

}
